<ion-view view-title="Closer?">
  <ion-content>
    <!-- <ion-list> -->
<!--       <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
        {{playlist.title}}
      </ion-item> -->
      <!-- <div class="list"> -->

        <div class="item item-input-inset">
          <label class="item-input-wrapper map-background">
            <input type="text" placeholder="Device ID">
          </label>
          <button class="button button-small">
            Add New Device
          </button>
        </div>

        <map center="-34.397, 150.644" zoom="8"></map>

      <!-- </div> -->
    <!-- </ion-list> -->
  </ion-content>
</ion-view>
