<div class="item item-input-inset">
  <label class="item-input-wrapper map-background">
    <input type="text" placeholder="Device ID" ng-model="device">
  </label>
  <button class="button button-small" ng-click="addDevice()">
    Add New Device
  </button>
</div>

<map center="37.8027394,-122.4581277" zoom="14">
  <marker position="37.8027394,-122.4581277" on-click="toggleBounce()" animation="DROP" draggable="true"></marker>
  <shape name="polyline" id="foo" path="[[37.8027394,-122.4581277], [37.8086053,-122.4719035]]" icons="[
      {
        icon: {
          path: 'M -2,0 0,-2 2,0 0,2 z',
          strokeColor: '#F00',
          fillColor: '#F00',
          fillOpacity: 1
        },
        offset: '0%'
      },
      {
        icon: {
          path: 'M -2,-2 2,2 M 2,-2 -2,2',
          strokeColor: '#292',
          strokeWeight: 4
        },
        offset: '100%'
      }
    ]">
  </shape>  
</map>


<div ng-repeat="device in $root.devices">
  {{device.id}}
</div>