/* Empty. Add your own CSS if you like */

.map-background {
  background: url("img/iot_mockup_final.png") no-repeat
  z-index: 100;
}

.panel {
  z-index: 105;
}

#map-canvas { height: 650px; margin: 0; padding: 0;}